html,
body {
  background-color: black !important; 
  height: 100%;
  color: #33ff00;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input{
  background-color: black;
  border: 1px solid #33ff00;
  color:#33ff00;
  text-align: center;
}

/*.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}*/

.form-signin input[type="password"] {
  margin-bottom: 10px;
 /* border-top-left-radius: 0;
  border-top-right-radius: 0;*/
}

button{
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;

  background-color: black;
  border: 1px solid #33ff00;
  color:#33ff00;
}

button:hover{
  background-color: #33ff00;
  border: 1px solid #33ff00;
  color:black;
}

