*{
    color: #33ff00;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;

    background-color: black;
    color: #33ff00;
}
  
html {
    height: -webkit-fill-available;
}
  
main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.nav-link:visited,
.nav-link{
    color:#33ff00;
    border: 1px solid #33ff00 !important;
}

.nav-link:hover{
    color:black;
    background: #33ff00;
}

svg{
    fill: #33ff00 !important;
}

table {
    background-color: black;
    border-color: #33ff00 !important;
}

#table tr:hover > td{
    background-color: #33ff00;
    color: black;
}

button{
    background-color: black;
    border: 1px solid #33ff00;
    border-radius: 5px;
}

button:hover{
    background-color: #33ff00;
    border: 1px solid black;
    color:black;
}

input[type="text"]{
    background-color: black;
    border: 1px solid #33ff00;
    color:#33ff00;
    text-align: center;
}

tbody {
    display: block;
    height: 55vh;
    overflow-y: auto;
    overflow-x: hidden;
    width:100%;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}

thead {
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}

.modal-content{
    background-color: black;
    border:1px solid #33ff00;
}

.modal-content tbody{
    height: 30vh;
}

#checkBox{
    width: 5% !important;
}